.class__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
h1 {
    font-size: 56px;
    margin-bottom: 20px;
    word-wrap: break-word;
}
.email {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
.form__btn {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
    font-size: 1em;
}

.features__main {
    margin-top: 30px;
}
.features__block {
    display: flex;
}
.features__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 20vw;
    }
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 50vw;
    padding: 5 px;
    
}





.block__video {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}


.hotel {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hotel__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.hotel__name {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.hotel__price {
    margin-top: 15px;
}
.hotel__item {
    margin: 15px 0;
}
.hotel__item-text {
    padding: 5px 0;
}
